<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.hughisaacs2.cordova.plugins.androidlivewallpaperplugin"
    version="0.0.1">
	
	<name>AndroidLiveWallpaperPlugin</name>
    <description>Cordova Android Live Wallpaper Plugin</description>
	<author email="hughisaacs@acrylicstyle.com" href="http://hughisaacs2.acrylicstyle.com">Hugh Isaacs II</author>
    <license>MIT</license>
	<keywords>ecosystem:cordova,cordova-android</keywords>
	
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <platform name="android">
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
	
<service
    android:name="com.hughisaacs2.cordova.plugins.androidlivewallpaperplugin.MyLiveWallpaper"
    android:label="@string/app_name"
    android:permission="android.permission.BIND_WALLPAPER" >
    <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
    </intent-filter>
    <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/my_live_wallpaper" />
</service>

<uses-feature android:name="android.software.live_wallpaper" android:required="false" />
	
    </config-file>
    
    <source-file src="MyLiveWallpaper.java" target-dir="src/com/hughisaacs2/cordova/plugins/androidlivewallpaperplugin" />
    <source-file src="my_live_wallpaper.xml" target-dir="res/xml" />

  </platform>
</plugin>